.custom-cursor:hover {
  cursor: pointer;
}

.btn-primary {
  background-color: #0177B6 !important;
  border-color: #0177B6 !important;
}

.bg-common {
  background: #06689d !important;
  color: white ;
}

@media (max-width: 768px) {}